@{
    ViewBag.Title = "Weather App";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="~/Content/Style.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
</head>

<body>

    <!-- ☰ Nút mở sidebar -->
    <button class="menu-btn" onclick="toggleSidebar()">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <!-- Sidebar -->
    <div id="sidebar" class="sidebar">
        <div class="sidebar-header">
            @*<button class="close-sidebar" onclick="toggleSidebar()">×</button>*@
            <h3><i class="fa-solid fa-magnifying-glass-location"></i> Search City</h3>
        </div>

        <div class="search-container">
            <input type="text" id="cityInput" placeholder="Enter city name..." />
            <button id="searchBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>

    <div id="overlay"></div>

    <select id="language" class="lang-select">
        <option value="en" selected>English</option>
        <option value="vi">Tiếng Việt</option>
    </select>

    <div id="loading-screen">
        <p>Đang tải vị trí của bạn...</p>
    </div>

    <div class="container">
        <h2><i class="fa-chisel fa-regular fa-cloud"></i> Weather App</h2>

        <div class="weather-box" id="weather-box">
            <div id="clock" class="weather-clock"></div>

            <!-- 🌅 4 icon ở 4 góc -->
            <img id="icon-sunrise" class="corner-icon top-left" src="~/Image/Days/sunrise.png" alt="Sunrise">
            <img id="icon-day" class="corner-icon top-right" src="~/Image/Days/sun.png" alt="Day">
            <img id="icon-sunset" class="corner-icon bottom-right" src="~/Image/Days/sunset.png" alt="Sunset">
            <img id="icon-night" class="corner-icon bottom-left" src="~/Image/Days/starry-night.png" alt="Night">

            <p id="city-location"></p>

            <h3 class="city-title" id="city-name"></h3>

            <div class="weather-info">
                <div class="temp-wrapper">
                    <img id="weather-icon" src="" alt="Weather Icon" class="weather-icon" />
                    <span id="temperature" class="temp-display">--°C</span>
                </div>
                <p><strong>Humidity:</strong> <span id="humidity">--%</span></p>
                <p><strong>Weather:</strong> <span id="description">--</span></p>
            </div>
        </div>
        <div class="weather-bg"></div>

    </div>

    <script src="~/Scripts/app.js"></script>
</body>
</html>
